<html xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="Stylesheet" href="/styles/main.css">
<header class="header">
        <div class="logo">
            <a href="#">Sammen kan vi stoppe det!</a>
        </div>
    <div class="dropdown-login">
        <button class="login-button">Login</button>
        <div class="dropdown-content">
            <a href="min-side-virksomhed.html">Som virksomhed?</a>
            <a href="min-side-privat.html">Som privat person?</a>
        </div>
    </div>
        <nav>
            <ul>
                <a th:href="@{/Info}">Om Madspild</a>
                <a th:href="@{/køleskab}">Ryd op i køleskabet</a>
                <a th:href="@{/}">Forside</a>
                <a th:href="kontaktos.html">Kontakt os</a>
            </ul>
        </nav>
</header>
</html>

