<html>
<link rel="Stylesheet" href="/styles/main.css">
<header class="header">
        <div class="logo">
            <a href="#">Sammen, kan vi stoppe det!</a>
        </div>
    <div class="dropdown-login">
        <button class="login-button">Login</button>
        <div class="dropdown-content">
            <a href="min-side-virksomhed.html"> Som virksomhed?</a>
            <a href="min-side-privat.html"> Som privat person?</a>
        </div>
    </div>
        <nav>
            <ul>
                <a href="Ommadspild.html">Om Madspild</a>
                <a href="køleskab.html">Ryd op i køleskabet</a>
                <a href="kontaktos.html">Mangler der noget?</a>
                <a href="kontaktos.html">Kontakt os</a>
            </ul>
        </nav>
</header>
</html>

