<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace = "fragments/head.html(currentPage = 'Homepage')"></head>
<header th:replace = "fragments/header.html"></header>
<body>

<!--
Box with color, text and image (carousel items)
-->
<section>
    <spans>
        <img class="image2" src="images/spildAfMad.png" alt="Madspild">
    </spans>
    <spans>
        <p class="center">Dette er spildt mad som du kunne ha' spist!</p>
    </spans>
</section>

<h1>Danmark mod madspild</h1>

<sections class = container>
    <articel class="frontPageText">
        <h2>Værd at vide om madspild i Danmark</h2>
        <ul>
            <li><p class="text">Madspildet i den danske servicesektor udgør 227.000-ton pr. år.
                Til sammenligning er det samlede madspild fra husholdningerne 261.000-ton pr. år.</p></li>
            <li><p class="text">Det største madspild i servicesektoren stammer fra detailhandelen, der spilder 163.000 tons pr. år,
                svarende til 72 % af servicesektorens madspild.</p></li>
            <li><p class="text">Af detailhandelens madspild står specialforretninger som slagtere,
                fiskeforretninger og grønthandlere for 12.000 tons pr. år, mens ikke-specialiserede
                forretninger som kiosker, købmænd, supermarkeder og varehuse står for 151.000-ton pr. år.</p></li>
        </ul>
    </articel>
    <img class="image" src="images/danmarkModMadspild.png" alt="spildAfMad">
</sections>


<footer th:replace="fragments/footer.html"></footer>
</body>
</html>