<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace = "fragments/head.html(currentPage = 'Homepage')"></head>
<header th:replace = "fragments/header.html"></header>
<body>

<!--
Box with color, text and image (carousel items)
-->
<h1>Stop madspild</h1>

<sections>
    <articel>
        <h2>Værd at vide om madspild i Danmark</h2>
        <ul>
            <li><p>Madspildet i den danske servicesektor udgør 227.000-ton pr. år.
                Til sammenligning er det samlede madspild fra husholdningerne 261.000-ton pr. år.</p></li>
            <li><p></p></li>
        </ul>
    </articel>
</sections>

<footer th:replace="fragments/footer.html"></footer>
</body>
</html>