<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head th:replace = "fragments/head.html(currentPage = 'Info')"></head>
<header th:replace="fragments/header-after-login.html"></header>
<body>
<h1>Madspild i Danmark</h1>
<sections class = container>
    <div class="divContainer"></div>
    <articel class="frontPageText">
        <h2>Madspild i Danmark</h2>
        <p class="text">Samlet smider vi i Danmark hvert år over 700.000 ton mad ud, som kunne være spist.
            Husholdningernes madspild udgør 260.000 ton pr. år. I servicesektoren er der et årligt madspild på
            227.000 ton, heraf 163.000 ton fra detailhandlen, 29.000 ton fra hoteller og restauranter og 31.000 ton
            fra institutioner og storkøkkener om året. Madspild fra primærproduktionen udgør 100.000 ton pr. år, mens
            fødevareindustrien står for et årligt madspild på 133.000 ton..</p>
    </articel>
    <img class="image" src="images/cirkel.png" alt="statistik">
    <div class="divContainer"></div>
</sections>

<sections class = container>
    <div class="divContainer"></div>
    <img class="image3" src="images/partner.png" alt="Samarbejdspartnere">
    <articel class="frontPageText">
        <h2>Danskernes madspild</h2>
            <p class="text">Hver dansker smider 47 kg spiselig mad ud om året. Samlet set udgør madspild 42 kg pr.
                person pr. år i enfamilieboliger og 59 kg pr. person pr. år i etageboliger.</p>
        <h2>Madspilds Top 10 og deres respektive andel af total madspild:</h2>
        <ol>
            <li><p>Middagsrester indeholdende fisk, fjerkræ og kød (inkl. rent, tilberedt kød) (forarbejdet) – 14%</p></li>
            <li><p>Friske grøntsager (ikke forarbejdet) – 13%</p></li>
            <li><p>Brød og kager med datomærkning – 12%</p></li>
            <li><p>Frisk frugt (ikke forarbejdet) – 9%</p></li>
            <li><p>Kartofler og grøntsager (forarbejdet) – 8%</p></li>
            <li><p>Mejeriprodukter (ikke forarbejdet) – 5%</p></li>
            <li><p>Pålæg af fisk, fjerkræ, kød (ikke forarbejdet) – 4%</p></li>
            <li><p>Andre tørvarer (slik, nødder, rosiner mv.) (ikke forarbejdet) – 4%</p></li>
            <li><p>Fersk og frossen fisk, fjerkræ og kød (ikke forarbejdet) – 3%</p></li>
            <li><p>Brød med pålæg – herunder også madpakker (forarbejdet) – 3%</p></li>
        </ol>
        <p>Tænketank om Forebyggelse af Madspild og Fødevaretab – ONE\THIRD er ansvarlig for aftalen og arbejder i
            partnerskab med førende virksomheder, organisationer, videns institutioner og offentlige institutioner om at opnå målene.</p>
    </articel>
    <div class="divContainer"></div>
</sections>

<footer th:replace="fragments/footer.html"></footer>
</body>

</html>