<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head.html"></head>
<link rel="Stylesheet" href="/styles/køleskab.css">
<header th:replace = "fragments/header.html"></header>

<body>
<br>
<h1>Lav en ret med ingredienserne i dit køleskab</h1>
<h2>Har du en masse forskelligt i køleskabet, men kan ikke se sammenhængen?
    <br>Udfyld skemaet herunder og få et forslag</br>
</h2>
<section class="input-form">
<form action="/køleskab-post" method="POST">

    <span class="green">
        <label for="green">Skriv en grøntsag
        <input type="text" id="green" placeholder="Skriv her">
        </label>

        <label for="green1">Skriv en grøntsag
        <input type="text" id="green1" placeholder="Skriv her">
        </label>

        <label for="green2">Skriv en grøntsag
        <input type="text" id="green2" placeholder="Skriv her">
        </label>

        <label for="green3">Skriv en grøntsag
        <input type="text" id="green3" placeholder="Skriv her">
        </label>
    </span>

    <span class="meat">
        <label for="meat">Skriv en form for kød
            <input type="text" id="meat" placeholder="Skriv her">
        </label>

        <label for="meat1">Skriv en form for kød
            <input type="text" id="meat1" placeholder="Skriv her">
        </label>

        <label for="meat2">Skriv en form for kød
            <input type="text" id="meat2" placeholder="Skriv her">
        </label>
    </span>

    <span class="other">
        <label for="other">Skriv en ingrediens du skal af med
        <input type="text" id="other" placeholder="Skriv her">
        </label>

        <label for="other1">Skriv en ingrediens du skal af med
            <input type="text" id="other1" placeholder="Skriv her">
        </label>

        <label for="other2">Skriv en ingrediens du skal af med
            <input type="text" id="other2" placeholder="Skriv her">
        </label>

        <label for="other3">Skriv en ingrediens du skal af med
            <input type="text" id="other3" placeholder="Skriv her">
        </label>
    </span>

    <button type="generate-course">Klik for forslag</button>

</form>
</section>
<footer th:replace="fragments/footer.html"></footer>
</body>
</html>