
h1{
    font-family: Stencil;
    text-align: center;
    color: darkgreen;
    text-decoration: wavy whitesmoke;
}

h2{
    font-family: Stencil;
    text-align: center;
    color: darkgreen;

}

.input-form{
    margin-top: 50px;
}

label {
    margin-bottom: 50px;
}

label, input{
    display: block;
    font-size: 20px;
}

.green{
    float: left;
    margin-left: 10px;
}

.meat{
    float: left;
    margin-left: 100px;
}


.other{
    margin-left: 100px;
    float: left;
}

button{
    bottom:0;
    position: absolute;
    font-size: 14px;
    color: #fff;
    background-color: darkseagreen;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 275px;
    right: 15%;
}